//----------------------------------------------------------//
//	NAV
//----------------------------------------------------------//

  .sidebar .nav-link {
    letter-spacing: normal;
  }
  .navbar-other .nav-link {
    cursor: pointer;
  }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     .navbar .navbar-collapse .nav-link {
//       padding-right: 0.6rem;
//       padding-left: 0.6rem;
//     }
//   }

  //----------------------------------------------------------//
  //	TABS
  //----------------------------------------------------------//
  .nav-tabs .nav-link {

    transition: $link-transition;
    @include font-size(0.85rem);
    padding: 0.6rem 1.3rem;
    i {
      @include font-size(1rem);
    }
  }





  @media (min-width: 992px) {
    .nav-tabs.nav-justified .nav-item {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .tab-content {
    margin-top: 1.25rem;
  }




  //----------------------------------------------------------//
  //	New CSS
  //----------------------------------------------------------//

  .nav-link {
    padding: 6px 14px;
    font-weight: $fw-bold;
    // font-size: .9rem;
}

.current{
  .nav-link{
    background-color: #ffffff40;
    
    @extend .rounded-pill;
  }

}
.hamburger{
 display: none !important;
}
.searchcol{
  .hamburger{
    display: none;

    @include media-breakpoint-down(lg){
      display: flex !important;
      position: absolute;
      right: 15px;
    }
  }
}

.navbar-other{
  @include media-breakpoint-down(sm){
// z-index: 1050;
  }
}

.offcanvas-header .btn-close{
  position: absolute;
  right: 26px;
}
.offcanvas-header{
  position: relative;
  width: 100%;
}

.navbar .navbar-collapse {
  @include media-breakpoint-down(sm){
  align-items: flex-start;
  }
}

.hovertrigger{
  padding-bottom: 0;
}
  .hovertrigger .navbar-nav .dropdown:hover>.dropdown-menu{
    top: 100%;
    padding: 5px;
    width: 180px;
    text-align: center;
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transition: all .25s ease-in-out;
    display: block;
    position: absolute;
background-color: #fff  ;
    @include media-breakpoint-down(lg){
      position: relative;
    }
.dropdown{
  margin-right: 0 !important;
}
.nav-link {
      color: $primary !important;
      font-size: .9rem;
  }


  }

  .offcanvas.hiding, .offcanvas.show, .offcanvas.showing{
    align-items: flex-start !important;
  }


  .searchblockcontainer {
    // display: block;
    display: flex;
    // position: absolute;
    right: 0;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 10px;

    z-index: 9999;
a{
  color: #fff;
  background-color: #000;
  font-weight: $fw-bold ;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
}
    @include media-breakpoint-down(lg) {
        width: 200px;
    }

    @include media-breakpoint-down(md) {
        width: auto;
        margin-right: 50px;
        margin-top: 50px;
        z-index: 9 !important;
    }

    a {
        margin-right: 10px;
        
    }

    .searchblock {
        position: relative;

        .bi-search {
            // position: absolute;
            // right: 0;
            // top:10px;
            cursor: pointer;
color: #000;
            @include media-breakpoint-down(lg) {
                right: 30px;
            }

            // top: -36px;
        }
    }
}

.globalsearchform {
    padding: 1px;
    border: 1px solid $primary;
    background-color: #fff;
    display: none;
    /* Hidden by default */
}

.globalsearchform.active {
    display: flex;
    padding: 10px;
    border-radius: 1px;
    width: 300px;
    /* Show when active */
}

.modal-body {
  form {
      label {
          display: none;
      }

      input {
          margin-bottom: 10px;
          width: 100%;
      }
  }
}
.globalsearchform {
  label {
      display: none;
  }

  .btn-toolbar {
      display: flex;
      align-items: center;

      &::after {
          content: "";
          transform: translateY(3px);
          display: inline-block;
          /* Ensures the element is visible */
          width: 20px;
          height: 18px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75.988' height='69.057' viewBox='0 0 75.988 69.057'%3E%3Cpath d='M41.459,0,38.766,2.693,68.7,32.625H0v3.809H68.7L38.766,66.364l2.693,2.693L75.988,34.529Z' fill='%2300ad69'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          transition: transform 0.3s ease-in-out;

      }
  }

  &:before {
      content: "\F235";
      font-family: bootstrap-icons !important;
      position: absolute;
      top: -16px;
      right: 0;
      width: 20px;
      height: 100%;


      // opacity: 0.5;
      z-index: -1;
  }

  input[type="text"] {
      outline: none;
      font-size: 14px;
      padding: 5px;
      border: 1px solid #c4c6c8;
      // border: 1px solid $primary;
      // border: none !important;
  }

  input[type="submit"] {
      font-size: 14px;
  }

  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 9999;
}
input[type="submit"][value="Download"] {
  display: inline-block;
  align-items: center;
  background-color: #fff;
  color: $primary;
  /* Replace $primary with actual color */
  // gap: 10px;
  margin-bottom: 0;
  border: none;
  // padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;

  transition: all 0.3s ease-in-out;
  width: 105px;
}

input[type="submit"][value="Download"]:hover {
  transform: translateX(5px);
}

input[type="submit"][value="Search"] {

  background-color: #fff;
  color: $primary;

  border: none;

  font-weight: bold;
  cursor: pointer;
}

.hiddenfield {
  height: 1px;
  visibility: hidden;
}

.navbar-other{
  .btn-sm {
    min-width: 100px;
  }

}
.single-rownav{
.navbar-other{


  .nav-item{
    a{
      color: #ffffff;
      background-color: #000;
      padding: 5px 8px;
      border-radius: 5px;
      text-decoration: none;
    }
  }
  }
  .globalsearchform{
    top:54px;
    cursor: pointer;

    @include media-breakpoint-down(md){
      top: 70px;
    }
  }
  .hamburger{
    right: 45px;
  }
.searchblock {
  cursor: pointer;
  margin-left: 10px;
  @include media-breakpoint-down(md){
    margin-top: -5px;
  }


&:hover{
  cursor: pointer;

}
  
}
.navbar-other{
  display: flex;
}
}

.dropdown .dropdown-menu .nav-link {
  padding-left: 10px !important;
}